@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


img {
    width: 300px;
}

a.active {
  background-color: green;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Exo', sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex; 
}

nav ul {
  display: flex; 
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

nav ul li {
  margin-right: 20px; 
}
nav ul li:first-child a {
  background-color: white; 
  color: black; 
  padding: 5px 10px; 
  border-radius: 5px; 
}
nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

nav ul li a:hover {
  text-decoration: underline;
}


.container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #555;
  color: white;
  padding: 10px;
  width: 200px; 
}

.content {
  flex: 1;
  padding: 10px;
  overflow-y: auto; 
  margin-left: 10px; 
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
