@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

img {
    width: 300px;
}

a.active {
  background-color: green;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Exo', sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex; 
}

nav ul {
  list-style-type: none; 
  display: flex; 
  padding: 0;
  margin-right: 10px;
}

nav ul li:first-child {
  background-color: blueviolet;
  color: #333;
}

nav ul li {
  flex: 1; 
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  display: block; 
  text-align: center; 
  padding: 10px; 
}

nav ul li a:hover {
  text-decoration: underline;
}


.container {
  display: flex;
  flex: 1;
  overflow-x: hidden; 
}

.sidebar {
  background-color: #555;
  color: white;
  padding: 10px;
  width: 200px; 
  overflow-y: auto; 
}

.content {
  flex: 1;
  padding: 10px;
  overflow-y: auto; 
}

nav ul li a,
.sidebar ul li a {
  color: white; 
  text-decoration: none;
  list-style-type: none; 
}

nav ul li a:hover,
.sidebar ul li a:hover {
  text-decoration: underline;
}


